:root {
  --white: #fff;
  --shadow-color: #e9e6e4;
  --shadow: 0px 0px 0px 2.4px var(--shadow-color),
    0px 0px 2.8px 0px var(--shadow-color);
}

.sidebar {
  position: relative;
  top: 0;
  left: 0;
  user-select: none;
  max-width: 18rem;
  min-width: 4rem;
  display: flex;
  color: var(--primary);
  flex-direction: column;
  background-color: white;
  transition: max-width 0.2s ease-in-out;
  min-height: 100vh;
}

.sidebar-top a img {
  width: 10rem;
}

.sidebar h2 {
  color: var(--white);
  font-size: 0.7rem;
  margin-top: 1rem;
  line-height: 1.5rem;
}

body.collapsed .sidebar h2 {
  display: none;
}

body.collapsed .sidebar {
  max-width: 5rem;
  display: flex;
}

body.collapsed .sidebar-links li a {
  justify-content: center;
}

body.collapsed .expandC-btn {
  display: none;
}

body.collapsed .hide {
  position: absolute;
  visibility: hidden;
}

.sidebar-top-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  background: var(--primary);
  margin-bottom: 15px;
  border-bottom: 3px solid var(--primary);
}

.sidebar-top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 9rem;
  padding: 1rem;
  padding-bottom: 3rem;
}

@media not all and (min-width: 640px) {
  .sidebar-top {
    height: 9.78rem;
  }
}

.logo-small {
  padding: 0.25rem;
  overflow: hidden;
}

.sidebar-links-wrapper {
  overflow: hidden;
  padding: 1rem;
  position: relative;
}

body.collapsed .sidebar-links-wrapper {
  overflow-x: hidden;
}

.sidebar-links ul {
  list-style-type: none;
  display: flex;
  row-gap: 1rem;
  flex-direction: column;
}

.sidebar-links li {
  color: var(--primary);
  min-width: 3rem;
  border-radius: 0.75rem;
}

.sidebar-links li svg {
  fill: var(--primary);
  width: 1.2rem;
  height: 1.2rem;
  min-width: 1.2rem;
}

.sidebar-links li a svg {
  stroke: var(--primary);
  fill: var(--primary);
  transition: stroke 0.2s ease-in-out, fill 0.2s ease-in-out;
}

.sidebar-links li a:hover svg {
  stroke: var(--white);
  fill: var(--white);
}

.sidebar-links .active svg {
  fill: var(--white);
}

.sidebar-links li a:hover {
  background: var(--primary);
  color: var(--white);
}

.sidebar-links li a {
  font-weight: 500;
  color: var(--primary);
  width: 100%;
  padding: 0 0.6rem;
  font-size: 1rem;
  display: flex;
  gap: 0.75rem;
  border-radius: 0.75rem;
  justify-content: space-between;
  align-items: center;
  min-height: 3.25rem;
  text-decoration: none;
  transition: background 0.2s ease-in-out;
}

.sidebar-links li .tag {
  margin-left: auto;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.75rem;
  background: var(--accent);
  color: var(--white);
  border: 1px solid var(--shadow-color);
}

.sidebar-links li a .link {
  overflow: hidden;
  white-space: nowrap;
  animation: fadeIn 0.2s ease-in-out;
}

.sidebar-links li a .link:hover {
  color: var(--white);
}

.sidebar-links .active:hover {
  background-color: var(--primary);
}

.sidebar-links .active {
  text-decoration: none;
  background-color: var(--primary);
  color: var(--white);
}

.divider {
  display: none;
}

body.collapsed .divider {
  width: 100%;
  display: block;
  background: var(--primary);
  height: 2px;
  margin: 0.5rem 0;
}

.expand-btn {
  position: absolute;
  display: grid;
  place-items: center;
  cursor: pointer;
  background: var(--primary);
  z-index: 2;
  box-shadow: var(--shadow);
  top: 1.9rem;
  width: 1.8rem;
  height: 1.8rem;
  border: none;
  border-radius: 50%;
}

.expand-btn svg {
  transform: rotate(-180deg);
  stroke: var(--white);
  width: 1.15rem;
  height: 1.15rem;
}

body.collapsed .expand-btn svg {
  transform: rotate(-360deg);
}

@media not all and (min-width: 640px) {
  .expand-btn {
    display: none;
  }
}

@keyframes fadeIn {
  from {
    width: 4rem;
    opacity: 0;
  }

  to {
    opacity: 1;
    width: 100%;
  }
}

.sub-links {
  margin-left: 1rem;
}

body.collapsed .sub-links {
  margin-left: 0;
}

.sub-links .link {
  display: block;
  padding: 0.5rem;
}

.sub-links .link.active {
  font-weight: bold;
  color: var(--primary);
}

.sub-links .tooltip {
  display: inline-flex;
  align-items: center;
  justify-content: start;
}

.sub-links .tooltip.active {
  background-color: var(--accent);
  color: var(--primary);
}

span.sub.active {
  background-color: initial;
  color: var(--primary);
}

.sub-links .tooltip.active:hover {
  background-color: var(--accent);
  color: var(--primary);
}

span.sub.active:hover {
  background-color: initial;
  color: var(--primary);
}

.expandC-btn {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.expandC-btn svg {
  transition: transform 0.3s ease;
}

.expandC-btn svg.rotate {
  transform: rotate(180deg);
}

.sub-links {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 0px !important;
}

.sub-links li {
  margin: 0.2rem 0;
  background-color: #fff !important;
}

.sub-links li:first-child {
  margin: 0.1rem 0;
  margin-top: 0.3rem;
  background-color: #fff !important;
}

.sub-links li.active {
  background-color: var(--accent);
}

.sub-links .link {
  display: block;
  padding: 0.5rem;
}

.sub-links .link.active {
  font-weight: 500;
  color: var(--primary);
}

.sub-links .active svg {
  stroke: var(--primary);
}

.sidebar-links li:hover {
  background-color: transparent;
}

.SoIcon svg {
  fill: none !important;
  stroke: var(--primary);
  stroke-width: 0;
}

.active .SoIcon svg {
  stroke: white !important;
}
