#datatable {
  width: 100%;
}

.p-column-header-content {
  gap: 10px;
}

.p-inputtext {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem transparent;
  border-color: transparent;
}

.p-inputtext:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem transparent;
  border-color: transparent;
}

.p-inputtext:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem transparent;
  border-color: transparent;
}

span.p-button-label {
  font-weight: 600;
}

.p-button {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem transparent;
  border-color: transparent;
}

.p-button:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem transparent;
  border-color: transparent;
}

.p-dropdown {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem transparent;
  border-color: transparent;
}

.p-dropdown:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem transparent;
  border-color: transparent;
}

.p-datatable .p-datatable-thead > tr > th {
  background-color: #e8f0f7;
  color: var(--primary);
  padding: 10px 5px;
}

.p-datatable .p-datatable-thead > tr > th:first-child {
  border-radius: 12px 0 0 12px;
}

.p-datatable .p-datatable-thead > tr > th:last-child {
  border-radius: 0 12px 12px 0;
}

.p-datatable .p-datatable-tbody > tr > td {
  background-color: #0d406903;
  color: #000000e5;
}

.p-datatable .p-datatable-tbody > tr > td {
  padding: 12px 16px !important;
}

.p-datatable .p-datatable-tbody > tr > td:first-child {
  padding: 12px 26px !important;
  text-align: right;
}

.p-datatable .p-datatable-tbody > tr:hover {
  background-color: #e0e0e0;
  transition-duration: 200ms;
}

.p-datatable .p-datatable-thead > tr > th {
  padding: 16px;
  margin-bottom: 10px;
}

.p-datatable .p-datatable-tbody > tr > td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.p-datatable .p-datatable-tbody > tr:hover {
  background-color: #f5f5f5;
  transition-duration: 200ms;
}

.p-datatable .p-datatable-footer {
  margin-top: 20px;
}

.p-datatable .p-datatable-tbody > tr {
  margin-bottom: 10px;
}

.p-datatable .p-datatable-tbody > tr > td {
  padding: 12px;
}

.p-paginator-bottom {
  justify-content: flex-end;
  margin-top: 25px;
}

.p-highlight {
  background-color: transparent;
  border-radius: 12px;
  color: white;
}

.p-paginator-element {
  color: #000000cc;
}

.p-highlight.p-paginator-element {
  color: white;
}

.p-paginator-prev {
  color: var(--primary);
}

.p-paginator-next {
  color: var(--primary);
}

.p-highlight.p-paginator-element {
  background-color: var(--primary) !important;
  border-radius: 12px;
  color: white;
}

li.p-focus {
  background-color: white;
  border-radius: 0px;
  color: #000000e5;
}

.p-checkbox .p-checkbox-box {
  background-color: #ffffff;
  border: 1px solid var(--primary);
}

.p-checkbox.p-checkbox-checked .p-checkbox-box {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}

.p-checkbox.p-checkbox-checked .p-checkbox-icon {
  color: #ffffff !important;
}

.p-checkbox .p-checkbox-icon {
  color: var(--primary);
}

span.p-highlight {
  background-color: var(--primary) !important;
  border-radius: 50%;
}
