.headerAuth {
  width: 100%;
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s ease;
  position: fixed;
  top: 0;
  animation: fadeDownNav 0.2s ease-in-out;
  padding-top: 10px;
  backdrop-filter: blur(5px);
}

@keyframes fadeDownNav {
  0% {
    opacity: 0;
    top: -10%;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

.menu__wrapper {
  display: flex;
  position: fixed;
  justify-content: space-between;
  z-index: 3000;
  gap: 2.3rem;
  width: 85%;
  max-width: 85%;
  padding: 0px 2.2rem;
  align-items: center;
  padding-bottom: 5px;
  height: 4.8rem;
}

@media not all and (min-width: 640px) {
  .menu__wrapper {
    width: 95%;
    max-width: 95%;
  }
}

.menu__bar {
  display: flex;
  align-items: center;
}

@media not all and (min-width: 640px) {
  .menu__bar {
    margin-top: 10px;
  }
}

.logo {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.logo img {
  height: 2.2rem;
}

.navigation {
  margin-left: 3.3rem;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  gap: 1rem;
}

.navigation > li {
  display: flex;
  position: relative;
  cursor: pointer;
  align-items: center;
  min-height: 2.25rem;
}

.navigation > li > a {
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

.navigation > li > a:hover {
  color: var(--primary);
}

.navigation > li > button {
  transition: all 0.3s ease;
  text-decoration: none;
  border: none;
  cursor: pointer;
  z-index: 1;
  align-items: center;
  min-height: 2.25rem;
  font-size: 14px;
  gap: 0.25rem;
  font-weight: 600;
  flex-wrap: nowrap;
  padding: 0.25rem 0;
  white-space: nowrap;
  background: none;
  display: flex;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.navigation > li > button > svg {
  margin-top: 2px;
  transition: all 0.2s ease-in-out;
}

.navigation > li:hover > button svg {
  transform: rotate(0.5turn);
}

.navigation > li:hover > button {
  color: var(--primary);
}

.navigation > li:hover .dropdown {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.99) translateY(-0.7em);
    transform-origin: top;
  }

  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.navigation a {
  position: relative;
  text-decoration: none;
  color: var(--primary);
  margin-top: 5px;
  padding-bottom: 5px;
  transition: color 0.3s ease-in-out;
}

.navigation a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navigation a:hover::after,
.navigation a.active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navigation a.active {
  color: var(--primary);
}

.action-buttons {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-wrap: nowrap;
}

.action-buttons a {
  text-decoration: none;
  white-space: nowrap;
  transition: all 0.2s ease-in-out;
  line-height: 1.25rem;
}

.secondary {
  padding: 8px 16px;
  color: var(--primary);
  border: 2px solid var(--primary);
  border-radius: 0.5rem;
  background-color: white;
  font-weight: 600;
}

.secondary:hover {
  color: white;
  border: 2px solid var(--primary);
  background-color: var(--primary);
}

.primary {
  padding: 8px 16px;
  color: white;
  border: 2px solid var(--primary);
  background-color: var(--primary);
}

.primary:hover {
  background-color: white;
  color: var(--primary);
}

.burger-menu {
  display: none;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: var(--primary);
}

body.menu-open {
  overflow: hidden;
}

body.menu-closed {
  overflow: auto;
}

@media (max-width: 768px) {
  .hide {
    display: none;
  }

  .burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    padding: 0.5rem;
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
    background-color: var(--primary);
    z-index: 1001;
    position: relative;
  }

  .mobile-menu-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
  }

  body.menu-open .mobile-menu-overlay {
    display: flex;
  }

  .mobile-menu {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 300px;
    text-align: center;
    position: relative;
    z-index: 1002;
  }

  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 0;
  }

  .mobile-menu ul li {
    width: 100%;
  }

  .mobile-menu ul li a {
    display: block;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    color: var(--primary);
    font-weight: 600;
  }

  .mobile-menu ul li a:hover {
    background-color: var(--primary);
    color: white;
  }
}
