.radio {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.radio-box {
  width: 20px;
  height: 20px;
  border: 2px solid #6c737f;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  background-color: white;
  transition: border-color 0.3s, background-color 0.3s;
}

.radio-box-checked {
  border-color: var(--primary);
  background-color: var(--primary);
}

.radio-icon {
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
}

.radio-label {
  font-weight: 500;
  font-size: 16px;
  color: #6c737f;
}

.p-dropdown-trigger {
  justify-content: flex-end;
  color: #1e1e1e;
}

.p-dropdown-items {
  padding: 15px 20px;
  border-radius: 12px;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

li.p-dropdown-item {
  margin-top: 5px;
  opacity: 1 !important;
}

.p-dropdown-label.p-inputtext {
  color: #999;
}

input[type="file"] {
  display: none;
}

label {
  cursor: pointer;
}

label:hover {
  background-color: rgba(0, 0, 0, 0.02);
}

.p-inputswitch-checked {
  background-color: var(--primary) !important;
}

.p-dropdown-filter-container {
  width: 100%;
  display: flex;
  padding: 5px 20px;
  align-items: center;
  font-size: 18px;
}

.p-dropdown-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.p-icon .p-dropdown-filter-icon {
  margin-top: -8px;
  margin-right: 15px;
}

.p-inputwrapper.p-dropdown-clearable.p-inputwrapper-filled > svg {
  margin-top: -8px;
}

.p-dropdown-item-label {
  width: 100%;
}