@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-optical-sizing: auto;
  font-family: "Tajawal", sans-serif;
}

:root {
  --primary: #be27ce; /* fallback */
  --secondary: #2e2e2e; /* fallback */
  --text: #1f2937; /* fallback */
  --accent: #a4e1d2; /* fallback */
}

@layer utilities {
  .bg-primary {
    background-color: var(--primary);
  }
  .text-primary {
    color: var(--primary);
  }
  .bg-secondary {
    background-color: var(--secondary);
  }
  .text-secondary {
    color: var(--secondary);
  }
  .text-text {
    color: var(--text);
  }
  .bg-accent {
    background-color: var(--accent);
  }
  .text-accent {
    color: var(--accent);
  }
}

html {
  scroll-behavior: smooth;
  direction: rtl;
}

body {
  overflow-x: hidden;
}

@media (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
}

body::-moz-focus-inner {
  color: transparent;
  width: 0;
}

body::-webkit-scrollbar {
  width: 0;
  background-color: #110726;
}

body::-webkit-scrollbar-thumb {
  width: 0;
  background-color: transparent;
}

.root-layout {
  width: 100%;
  height: 100%;
  margin-bottom: -25px !important;
  overflow-x: hidden !important;
}

@media (max-width: 767px) {
  .container {
    width: 95% !important;
  }
}

input {
  direction: rtl !important;
}

.tShadow {
  text-shadow: 0em 0em 0.3em rgba(0, 0, 0, 0.4);
}

.mark {
  position: relative;
  padding: 0 0 12.5px;
}

.mark::after {
  content: "";
  position: absolute;
  width: 91px;
  height: 12px;
  bottom: 0;
  left: 50%;
  z-index: 7;
  -webkit-transform: translate(-45px);
  -ms-transform: translate(-45px);
  transform: translate(-45px);
  background-color: var(--primary-100);
  -webkit-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-image: url(assets/headline-curve.svg);
  mask-image: url(assets/headline-curve.svg);
}

.mark-z {
  position: relative;
  padding: 0 0 5px;
}

.mark-z::after {
  content: "";
  position: absolute;
  width: 91px;
  height: 12px;
  bottom: -5px;
  left: 50%;
  z-index: 7;
  -webkit-transform: translate(-45px);
  -ms-transform: translate(-45px);
  transform: translate(-45px);
  background-color: #fff;
  -webkit-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-image: url(assets/headline-underline-zigzag.svg);
  mask-image: url(assets/headline-underline-zigzag.svg);
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

.image-float {
  animation: float 4s ease-in-out infinite;
  cursor: pointer;
}

.image-float:hover {
  scale: 1.1;
}

.gradientBg {
  background: linear-gradient(90deg, var(--primary) 0%, var(--secondary) 100%);
}

.gradientText {
  background: linear-gradient(90deg, #be27ce 0%, #ff00ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.gradientBg-light {
  background: linear-gradient(90deg, #be27ce 0%, #ffffff 100%);
}

.clipy {
  clip-path: polygon(
    20% 0%,
    80% 0%,
    100% 20%,
    100% 80%,
    80% 100%,
    20% 100%,
    0% 80%,
    0% 20%
  );
}

input {
  font-family: "Nunito", sans-serif;
}

svg.p-icon.p-dropdown-trigger-icon.p-clickable {
  fill: var(--accent) !important;
  color: var(--accent) !important;
}

.react-international-phone-input-container {
  border-radius: 0.5rem !important;
  padding: 0 10px;
}

.react-international-phone-input-container:focus {
  border-color: #07253d;
  outline: none;
  box-shadow: 0 0 0 2px #07253d;
}

.react-international-phone-country-selector button {
  background-color: transparent !important;
  border: 0px;
  width: 100% !important;
  height: 50px !important;
  margin-right: 15px;
  padding-right: 10px;
}

.react-international-phone-input {
  width: 100% !important;
  height: 50px !important;
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
  font-size: 1rem !important;
  background-color: transparent !important;
  color: black !important;
  font-family: "Montserrat", sans-serif;
  border: 0px !important;
}

.recharts-surface {
  cursor: pointer !important;
}

.avgs {
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid var(--Text-Strok, #63778614);
  box-shadow: 0px 4px 8px 0px #0000000a;
}

.p-column-header-content {
  gap: 10px;
}

.p-inputtext {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem transparent;
  border-color: transparent;
}

.p-inputtext:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem transparent;
  border-color: transparent;
}

.p-inputtext:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem transparent;
  border-color: transparent;
}

.p-button {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem transparent;
  border-color: transparent;
}

.p-button:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem transparent;
  border-color: transparent;
}

.p-datatable .p-datatable-thead > tr > th {
  background-color: #e8f0f7;
  color: var(--primary);
  padding: 10px 5px;
}

.p-datatable .p-datatable-thead > tr > th:first-child {
  border-radius: 12px 0 0 12px;
}

.p-datatable .p-datatable-thead > tr > th:last-child {
  border-radius: 0 12px 12px 0;
}

.p-datatable .p-datatable-tbody > tr > td {
  background-color: #0d406903;
  color: #000000e5;
}

.p-datatable .p-datatable-tbody > tr:hover {
  background-color: #e0e0e0;
}

.p-datatable .p-datatable-thead > tr > th {
  padding: 16px;
  margin-bottom: 10px;
}

.p-datatable .p-datatable-tbody > tr > td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.p-datatable .p-datatable-tbody > tr:hover {
  background-color: #f5f5f5;
}

.p-datatable .p-datatable-footer {
  margin-top: 20px;
}

.p-datatable .p-datatable-tbody > tr {
  margin-bottom: 10px;
}

.p-datatable .p-datatable-tbody > tr > td {
  padding: 12px;
}

.p-paginator-bottom {
  justify-content: flex-end;
  margin-top: 25px;
}

.p-highlight {
  background-color: var(--primary);
  border-radius: 12px;
  color: white;
}

.p-paginator-element {
  color: #000000cc;
}

.p-highlight.p-paginator-element {
  color: white;
}

.p-paginator-prev {
  color: var(--primary);
  rotate: 180deg;
}

.p-paginator-next {
  color: var(--primary);
  rotate: 180deg;
}

.p-column-header-content {
  gap: 10px;
}

.p-inputtext {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem transparent;
  border-color: transparent;
}

.p-inputtext:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem transparent;
  border-color: transparent;
}

.p-inputtext:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem transparent;
  border-color: transparent;
}

span.p-button-label {
  font-weight: 600;
}

.p-button {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem transparent;
  border-color: transparent;
}

.p-button:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem transparent;
  border-color: transparent;
}

.p-dropdown {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem transparent;
  border-color: transparent;
}

.p-dropdown:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem transparent;
  border-color: transparent;
}

.p-datatable .p-datatable-thead > tr > th {
  background-color: #e8f0f7;
  color: var(--primary);
  padding: 10px 5px;
}

.p-datatable .p-datatable-thead > tr > th:first-child {
  border-radius: 12px 0 0 12px;
}

.p-datatable .p-datatable-thead > tr > th:last-child {
  border-radius: 0 12px 12px 0;
}

.p-datatable .p-datatable-tbody > tr > td {
  background-color: #0d406903;
  color: #000000e5;
}

.p-datatable .p-datatable-tbody > tr:hover {
  background-color: #e0e0e0;
}

.p-datatable .p-datatable-thead > tr > th {
  padding: 16px;
  margin-bottom: 10px;
}

.p-datatable .p-datatable-tbody > tr > td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.p-datatable .p-datatable-tbody > tr:hover {
  background-color: #f5f5f5;
}

.p-datatable .p-datatable-footer {
  margin-top: 20px;
}

.p-datatable .p-datatable-tbody > tr {
  margin-bottom: 10px;
}

.p-datatable .p-datatable-tbody > tr > td {
  padding: 12px;
}

.p-paginator-bottom {
  justify-content: flex-end;
  margin-top: 25px;
}

.p-highlight {
  background-color: var(--primary);
  border-radius: 12px;
  color: white;
}

.p-paginator-element {
  color: #000000cc;
}

.p-highlight.p-paginator-element {
  color: white;
}

.p-paginator-prev {
  color: var(--primary);
}

.p-paginator-next {
  color: var(--primary);
}

li.p-focus {
  background-color: white;
  border-radius: 0px;
  color: #000000e5;
}

.code-block {
  overflow: auto;
  white-space: pre-wrap;
}

.tox-tinymce {
  width: 100%;
  /* margin-bottom: 50px; */
}

.tox-toolbar__primary,
.tox-toolbar__group {
  flex-direction: row-reverse !important;
}

.tox-statusbar__branding {
  display: none;
}

div[data-placeholder]:empty:before {
  content: attr(data-placeholder);
  color: #a0aec0;
  pointer-events: none;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.p-dropdown-items {
  border-radius: 12px;
}

.p-dropdown-item {
  border-radius: 4px;
  margin: 3px 0px;
  padding: 2px 6px;
  font-size: 17px;
  background-color: #e689f0;
  color: white;
  animation-direction: 3ms;
}

.p-dropdown-item:hover {
  border-radius: 4px;
  margin: 3px 0px;
  padding: 2px 6px;
  font-size: 17px;
  background-color: #e573f2;
  color: white;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
